<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ibm.kk.second">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FrameActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ShowActivity" />
        <activity android:name=".AddStudentActivity" />
        <activity android:name=".Search" />
        <activity android:name=".StudentListActivity" />
        <activity android:name=".PageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main2Activity" />
        <activity android:name=".ActivityListActivity" />
        <activity android:name=".ContentListActivity" />
        <activity android:name=".MyList2Activity" />
        <activity android:name=".AcademyActivity" />
        <activity android:name=".AcademyInfoActivity" />
        <activity android:name=".StudentActivity" />
        <activity android:name=".StudentInfoActivity" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"></activity>
    </application>

</manifest>